.toolbar-background.toolbar-background-md,.toolbar-background.toolbar-background-ios {
	background-color: #202020 !important;
	background: #202020 !important;
}
.bar-button-default-md {
	color: #fff !important;
}
.toolbar-title.toolbar-title-md {
	color: #fff !important;
}
.content-md,.item.item-block.item-md,.content.content-ios.statusbar-padding,.item.item-block.item-ios {
	background-color: #202020;
}
.item.item-md.list-header.list-header-md {
	background-color: #202020 !important;
	border-top: initial;
}
.label.label-md {
	color: #fff;
	font-weight: bold;
	font-size: 25px;
}
ion-icon{
	color: #fff;
}
.list-header-md {
	margin-bottom: 0px;
	margin-top: 29px !important;
}
.item-md p{
	color: #c5c5c5;
	font-size: 1.6rem;
	font-weight: normal;
}
.toolbar .searchbar-ios .searchbar-input {

	background: #fff;

}
.label.label-ios {

	color: #fff;

}
.left .label.label-md p, .left .label.label-ios p {

	text-align: left !important;

}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {

	color: #fff;

}
.toolbar-title.toolbar-title-ios {

	color: #fff;

}
.item.item-ios.list-header.list-header-ios .label.label-ios {

	font-size: 19px;
	font-weight: bold;
	margin-top: 26px;

}
.note.note-ios p, .item-ios p {
	text-align: right;
	font-size: 1.7rem;

}
img.icono{
	width: 40px !important;
	margin-right: 10px;
	min-width: 28px;
}
.vertical-align ion-label{
	display: flex;
	justify-content: left;
	align-items: center;
}

.intelligence label {
	color: #cc66a1 !important;
}
.strength label {
	color: #f7c78b !important;
}
.speed label{
	color: #2276bb !important;
}
.durability label{
	color: #ea6248 !important;
}
.power label{
	color: #f0c419 !important;
}
.combat label{
	color: #875839 !important;
}
.full ion-label{
	color: #86848d !important;
}
.alter ion-label{
	color: #dda137 !important;
}
.aliado ion-label{
	color: #fc4e7b !important;
}
.place ion-label{
	color: #c6640c !important;
}
.first ion-label{
	color: #e24642 !important;
}
.publisher ion-label{
	color: #f4e662 !important;
}
.alignment ion-label{
	color: #62cd4d !important;
}
.gender ion-label{
	color: #d8143a !important;
}
.race ion-label{
	color: #77aad4 !important;
}
.height ion-label{
	color: #56ace0 !important;
}
.weight ion-label{
	color: #ec90a1 !important;
}
.eye ion-label{
	color: #c8f5ff !important;
}
.hair ion-label{
	color: #ffac55 !important;
}
.occupation ion-label{
	color: #7dc7ff !important;
}
.base ion-label{
	color: #d5d6db !important;
}
.group ion-label{
	color: #2c9984 !important;
}
.relatives ion-label{
	color: #eea829 !important;
}
.note.note-md {

    text-transform: capitalize;

}
.aboutlist ion-item {
    padding: 0 20px !important;
}

.item.item-block.item-md {
    padding: 0;
}
.item-md.item-block .item-inner {

    padding: 0 8px !important;
    border-bottom: 1px solid #dedede;

}
.item-md ion-thumbnail {
    min-width: initial;
}
.gridpower img {
    margin: 0 auto !important;
    width: 62px !important;
}
.gridpower {
    text-align: center !important;
}
.gridpower label {
    font-size: 15px;
    font-weight: bold;
}
.gridpower ion-thumbnail {
    margin-bottom: 5px !important;
}
.gridpower p {
    color: #c5c5c5;
    font-size: 27px;
    margin-top: 0 !important;
    font-weight: bold;
}
ion-list-header ion-label {
    margin-left: 62px !important;
    font-size: 28px !important;
    text-align: left;
}
.whitespace{
	white-space: initial;
}
.imgHome {
	width:initial !important;
	height:initial !important;
}
.sinmargen{
    margin: 0;
}


@media screen and (min-width : 364px) {
.stack { margin: 40px auto; }
}
@media screen and (max-width : 363px) {
.stack { margin: 30px; }
}
.stack { position: relative; z-index: 10; max-width: 300px; }
 
/* Image styles */
.stack img { max-width: 100%; height: auto; vertical-align: bottom; border: 10px solid #fff; border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
 
/* Stacks creted by the use of generated content */
.stack:before, .stack:after { content: ""; border-radius: 3px; width: 100%; height: 100%; position: absolute; border: 10px solid #fff; left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}
.stack:before { top: 4px; z-index: -10; } /* 1st element in stack (behind image) */
.stack:after { top: 8px; z-index: -20; } /* 2nd element in stack (behind image) */
.stack.twisted::before {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
}
.stack.twisted::after {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

.bioslider {

    overflow: auto;
    padding-top: 180px;

}
.bioslider .aboutlist.list.list-md, .powerslider .slide-zoom {

    position: absolute;
    top: 0;

}
ion-list-header .label-md {

    text-align: center !important;
    margin: 0 !important;

}
.swiper-slide{
	display:initial;
}
.aboutlist.list.list-md {
    width: 100%;
}
