<ion-header>
	<ion-navbar>
		<ion-title>
			{{item.name}}
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content class="tutorial-page">
	<ion-slides pager>
		<ion-slide *ngFor="let slide of slides">
			<div class="stack twisted">
				<img onerror="javascript:this.src='../../assets/imgs/default.jpg'" src="{{item.image['url']}}">
			</div>
		</ion-slide>
		<ion-slide>
			<div class="stack twisted">
				<img onerror="javascript:this.src='../../assets/imgs/default.jpg'" src="{{item.image['url']}}">
			</div>
		</ion-slide>	
		<ion-slide>
			<ion-list-header>
				POWERSTATS
			</ion-list-header>
			<ion-grid class="gridpower">
				<ion-row>
					<ion-col class="intelligence">
						<ion-thumbnail item-start>
							<img class="icono" src="../../assets/imgs/intelligence.svg"/>
						</ion-thumbnail>
						<label>Intelligence</label>
						<p *ngIf=" item.powerstats['intelligence'] != '-' || ''">
							{{item.powerstats['intelligence']}}
						</p>
						<p *ngIf=" item.powerstats['intelligence'] == '-'">
							Unknown
						</p>
						<p *ngIf=" item.powerstats['intelligence'] == ''">
							Unknown
						</p>
					</ion-col>
					<ion-col class="strength">
						<ion-thumbnail item-start>
							<img class="icono" src="../../assets/imgs/strength.svg"/>
						</ion-thumbnail>
						<label>Strength</label>
						<p *ngIf=" item.powerstats['strength'] != '-' || ''">
							{{item.powerstats['strength']}}
						</p>
						<p *ngIf=" item.powerstats['strength'] == '-'">
							Unknown
						</p>
						<p *ngIf=" item.powerstats['strength'] == ''">
							Unknown
						</p>
					</ion-col>
					<ion-col class="speed">
						<ion-thumbnail item-start>
							<img class="icono" src="../../assets/imgs/speed.svg"/>
						</ion-thumbnail>
						<label>Speed</label>
						<p *ngIf=" item.powerstats['speed'] != '-' || ''">
							{{item.powerstats['speed']}}
						</p>
						<p *ngIf=" item.powerstats['speed'] == '-'">
							Unknown
						</p>
						<p *ngIf=" item.powerstats['speed'] == ''">
							Unknown
						</p>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col class="durability">
						<ion-thumbnail item-start>
							<img class="icono" src="../../assets/imgs/battery.svg"/>
						</ion-thumbnail>
						<label>Durability</label>
						<p *ngIf=" item.powerstats['durability'] != '-' || ''">
							{{item.powerstats['durability']}}
						</p>
						<p *ngIf=" item.powerstats['durability'] == '-'">
							Unknown
						</p>
						<p *ngIf=" item.powerstats['durability'] == ''">
							Unknown
						</p>
					</ion-col>
					<ion-col class="power">
						<ion-thumbnail item-start>
							<img class="icono" src="../../assets/imgs/power.svg"/>
						</ion-thumbnail>
						<label>Power</label>
						<p *ngIf=" item.powerstats['power'] != '-' || ''">
							{{item.powerstats['power']}}
						</p>
						<p *ngIf=" item.powerstats['power'] == '-'">
							Unknown
						</p>
						<p *ngIf=" item.powerstats['power'] == ''">
							Unknown
						</p>
					</ion-col>
					<ion-col class="combat">
						<ion-thumbnail item-start>
							<img class="icono" src="../../assets/imgs/combat.svg"/>
						</ion-thumbnail>
						<label>Combat</label>
						<p *ngIf=" item.powerstats['combat'] != '-' || ''">
							{{item.powerstats['combat']}}
						</p>
						<p *ngIf=" item.powerstats['combat'] == '-'">
							Unknown
						</p>
						<p *ngIf=" item.powerstats['combat'] == ''">
							Unknown
						</p>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-slide>
		<ion-slide class="bioslider">
			<ion-list class="aboutlist">
				<ion-list-header class="sinmargen">
					BIOGRAPHY
				</ion-list-header>

				<ion-item class="full">
					<ion-thumbnail item-start>
						<img class="icono" src="../../assets/imgs/name.svg"/>
					</ion-thumbnail>
					Full name
					<p *ngIf=" item.biography['full-name'] != '-' || ''">
						{{item.biography['full-name']}}
					</p>
					<p *ngIf=" item.biography['full-name'] == '-'">
						Unknown
					</p>
					<p *ngIf=" item.biography['full-name'] == ''">
						Unknown
					</p>
				</ion-item>
				<ion-item class="alter">
					<ion-thumbnail item-start>
						<img class="icono" src="../../assets/imgs/ego.svg"/>
					</ion-thumbnail>
					Alter egos
					<p *ngIf=" item.biography['alter-egos'] != '-' || ''">
						{{item.biography['alter-egos']}}
					</p>
					<p *ngIf=" item.biography['alter-egos'] == '-'">
						Unknown
					</p>
					<p *ngIf=" item.biography['alter-egos'] == ''">
						Unknown
					</p>
				</ion-item>
				<ion-item class="aliado">
					<ion-thumbnail item-start>
						<img class="icono" src="../../assets/imgs/aliado.svg"/>
					</ion-thumbnail>
					Aliases
					<p *ngFor="let aliado of aliados">
						{{aliado}}
					</p>
				</ion-item>
				<ion-item class="place">
					<ion-thumbnail item-start>
						<img class="icono" src="../../assets/imgs/place.svg"/>
					</ion-thumbnail>
					Place of birth
					<p *ngIf=" item.biography['place-of-birth'] != '-' || ''" class="whitespace">
						{{item.biography['place-of-birth']}}
					</p>
					<p *ngIf=" item.biography['place-of-birth'] == '-'" class="whitespace">
						Unknown
					</p>
					<p *ngIf=" item.biography['place-of-birth'] == ''" class="whitespace">
						Unknown
					</p>
				</ion-item>
				<ion-item class="first">
					<ion-thumbnail item-start>
						<img class="icono" src="../../assets/imgs/first.svg"/>
					</ion-thumbnail>
					First appearance
					<p class="whitespace" *ngIf=" item.biography['first-appearance'] != '-' || ''">
						{{item.biography['first-appearance']}}
					</p>
					<p class="whitespace" *ngIf=" item.biography['first-appearance'] == '-'">
						Unknown
					</p>
					<p class="whitespace" *ngIf=" item.biography['first-appearance'] == ''">
						Unknown
					</p>
				</ion-item>
				<ion-item class="publisher">
					<ion-thumbnail item-start>
						<img class="icono" src="../../assets/imgs/publisher.svg"/>
					</ion-thumbnail>
					Publisher
					<p *ngIf=" item.biography['publisher'] != '-' || ''">
						{{item.biography['publisher']}}
					</p>
					<p *ngIf=" item.biography['publisher'] == '-'">
						Unknown
					</p>
					<p *ngIf=" item.biography['publisher'] == ''">
						Unknown
					</p>
				</ion-item>
				<ion-item class="alignment">
					<ion-thumbnail item-start>
						<img class="icono" src="../../assets/imgs/alignment.svg"/>
					</ion-thumbnail>
					Alignment
					<p *ngIf=" item.biography['alignment'] != '-' || ''">
						{{item.biography['alignment']}}
					</p>
					<p *ngIf=" item.biography['alignment'] == '-'">
						Unknown
					</p>
					<p *ngIf=" item.biography['alignment'] == ''">
						Unknown
					</p>
				</ion-item>
			</ion-list>
		</ion-slide>
		<ion-slide class="bioslider">
			<ion-list class="aboutlist">
				<ion-list-header>
					APPEARANCE
				</ion-list-header>
				<ion-item class="gender">
					<ion-thumbnail item-start>
						<img class="icono" src="../../assets/imgs/gender.svg"/>
					</ion-thumbnail>
					Gender
					<p *ngIf=" item.appearance['gender'] != '-' || ''">
						{{item.appearance['gender']}}
					</p>
					<p *ngIf=" item.appearance['gender'] == '-'">
						Unknown
					</p>
					<p *ngIf=" item.appearance['gender'] == ''">
						Unknown
					</p>
				</ion-item>
				<ion-item class="race">
					<ion-thumbnail item-start>
						<img class="icono" src="../../assets/imgs/race.svg"/>
					</ion-thumbnail>
					Race
					<p *ngIf=" item.appearance['race'] != '-' || ''">
						{{item.appearance['race']}}
					</p>
					<p *ngIf=" item.appearance['race'] == '-'">
						Unknown
					</p>
					<p *ngIf=" item.appearance['race'] == ''">
						Unknown
					</p>
				</ion-item>
				<ion-item class="height">
					<ion-thumbnail item-start>
						<img class="icono" src="../../assets/imgs/height.svg"/>
					</ion-thumbnail>
					Height
					<p *ngIf=" item.appearance['height'][1] != '-' || ''">
						{{item.appearance['height'][1]}}
					</p>
					<p *ngIf=" item.appearance['height'][1] == '-'">
						Unknown
					</p>
					<p *ngIf=" item.appearance['height'][1] == ''">
						Unknown
					</p>
				</ion-item>
				<ion-item class="weight">
					<ion-thumbnail item-start>
						<img class="icono" src="../../assets/imgs/weight.svg"/>
					</ion-thumbnail>
					Weight
					<p *ngIf=" item.appearance['weight'][1] != '-' || ''">
						{{item.appearance['weight'][1]}}
					</p>
					<p *ngIf=" item.appearance['weight'][1] == '-'">
						Unknown
					</p>
					<p *ngIf=" item.appearance['weight'][1] == ''">
						Unknown
					</p>
				</ion-item>
				<ion-item class="eye">
					<ion-thumbnail item-start>
						<img class="icono" src="../../assets/imgs/eye.svg"/>
					</ion-thumbnail>
					Eye color
					<p *ngIf=" item.appearance['eye-color'] != '-' || ''">
						{{item.appearance['eye-color']}}
					</p>
					<p *ngIf=" item.appearance['eye-color'] == '-'">
						Unknown
					</p>
					<p *ngIf=" item.appearance['eye-color'] == ''">
						Unknown
					</p>
				</ion-item>
				<ion-item class="hair">
					<ion-thumbnail item-start>
						<img class="icono" src="../../assets/imgs/hair.svg"/>
					</ion-thumbnail>
					Hair color
					<p *ngIf=" item.appearance['hair-color'] != '-' || ''">
						{{item.appearance['hair-color']}}
					</p>
					<p *ngIf=" item.appearance['hair-color'] == '-'">
						Unknown
					</p>
					<p *ngIf=" item.appearance['hair-color'] == ''">
						Unknown
					</p>
				</ion-item>
			</ion-list>
		</ion-slide>
		<ion-slide class="bioslider">
			<ion-list class="aboutlist">
				<ion-list-header>
					WORK
				</ion-list-header>
				<ion-item class="occupation">
					<ion-thumbnail item-start>
						<img class="icono" src="../../assets/imgs/occupation.svg"/>
					</ion-thumbnail>
					Occupation
					<p class="whitespace" *ngIf=" item.work['occupation'] != '-' || ''">
						{{item.work['occupation']}}
					</p>
					<p class="whitespace" *ngIf=" item.work['occupation'] == '-'">
						Unknown
					</p>
					<p class="whitespace" *ngIf=" item.work['occupation'] == ''">
						Unknown
					</p>
				</ion-item>
				<ion-item class="base">
					<ion-thumbnail item-start>
						<img class="icono" src="../../assets/imgs/base.svg"/>
					</ion-thumbnail>
					Base			
					<p class="whitespace" *ngIf=" item.work['base'] != '-' || ''">
						{{item.work['base']}}
					</p>
					<p class="whitespace" *ngIf=" item.work['base'] == '-'">
						Unknown
					</p>
					<p class="whitespace" *ngIf=" item.work['base'] == ''">
						Unknown
					</p>
				</ion-item>
			</ion-list>
		</ion-slide>
		<ion-slide class="bioslider">
			<ion-list class="aboutlist">
				<ion-list-header>
					CONNECTIONS
				</ion-list-header>
				<ion-item class="group">
					<ion-thumbnail item-start>
						<img class="icono" src="../../assets/imgs/group.svg"/>
					</ion-thumbnail>
					Group affiliation
					<p class="whitespace" *ngIf=" item.connections['group-affiliation'] != '-' || ''">
						{{item.connections['group-affiliation']}}
					</p>
					<p class="whitespace" *ngIf=" item.connections['group-affiliation'] == '-'">
						Unknown
					</p>
					<p class="whitespace" *ngIf=" item.connections['group-affiliation'] == ''">
						Unknown
					</p>
				</ion-item>
				<ion-item class="relatives">
					<ion-thumbnail item-start>
						<img class="icono" src="../../assets/imgs/relatives.svg"/>
					</ion-thumbnail>
					Relatives
					<p class="whitespace" *ngIf=" item.connections['relatives'] != '-' || ''">
						{{item.connections['relatives']}}
					</p>
					<p class="whitespace" *ngIf=" item.connections['relatives'] == '-'">
						Unknown
					</p>
					<p class="whitespace" *ngIf=" item.connections['relatives'] == ''">
						Unknown
					</p>
				</ion-item>
			</ion-list>
		</ion-slide>
	</ion-slides>
</ion-content>