h1{
	color: #fff;
}
img.search {
	width: 205px;
}
.desarollo{
	text-align: center;
	color: #fff;
	font-size: 16px;
	bottom: 15px;
	position: absolute;
	width: 90%;
}
.left.item.item-block.item-md {
	background: #fff !important;
	padding: 0 !important;
}
ion-thumbnail {
	margin: 0 !important;
}
.label.label-md h2 {
	color: #353333;
	font-size: 18px;
}
.maximg{
	max-width: 80px;
	max-height: 80px;
}
.imgHome{	
width: initial;
height: initial;
}
.center{
text-align: center;
}
.pwhite {
    color: #fff;
}
.hrwhite {
    background: #fff !important;
}
ion-app.md [padding] .scroll-content {
    padding: 0;
}
[col-lg-4] {
    padding: 0 5px !important;
}
.maximoAncho{
    max-width: 400px;
    margin: 0 auto;
}