<ion-header>
	<ion-navbar>
		<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col class="list" *ngFor="let usuario of usuarios.results" col-md-6 col-lg-4 col-12>
				<ion-item class="left" ion-item (click)="openNavDetailsPage(usuario)">
					<ion-thumbnail item-start class="maximg">
						<img class="imgHome" onerror="javascript:this.src='../../assets/imgs/default.jpg'" src="{{usuario.image['url']}}">
					</ion-thumbnail>
					<h2>{{usuario.name}}</h2>
					<p>{{usuario.biography['full-name']}}</p>
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid *ngIf=" valor == 1">
		<ion-row center>
			<ion-col class="center maximoAncho">
				<img class="search" src="../../assets/imgs/search.svg"/>
				<h1>I searched for the character you want</h1>
				<hr class="hrwhite">
				<p class="pwhite">Developed by Emmanuel Lorenzo</p>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>